<p>
    <mat-toolbar class="custom-toolbar">
      <span style="margin-left: 10px;">Nosotros</span>
      <span class="example-spacer"></span>
      <button routerLink="/inicio" mat-icon-button >
        <mat-icon>home</mat-icon>
      </button>
      <button  routerLink="/login" mat-icon-button class="example-icon"  >
        <mat-icon>lock</mat-icon>
      </button>
      <button  routerLink="/nosotros" mat-icon-button class="example-icon" >
        <mat-icon>person</mat-icon>
      </button>
      <button  mat-icon-button class="example-icon" >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </p>