<mat-sidenav-container class="Hamburguesa">
  <mat-sidenav #sidenav mode="over" class="">
      <mat-list role="list" class="lista">
        <mat-list-item routerLink="/login" role="listitem">Cerrar sesion</mat-list-item>
        <mat-list-item routerLink="/inicio" role="listitem">Inicio</mat-list-item>
        <mat-list-item routerLink="/menu" role="listitem">Menu</mat-list-item>
        <mat-list-item routerLink="/table" role="listitem">Alumnos</mat-list-item>
        </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>  
  <mat-toolbar class="custom-toolbar">
    <button  mat-icon-button class="example-icon" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 10px;">Nosotros</span>
    <span class="hora-actual">{{horaActual}}</span>
  </mat-toolbar>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">
    <mat-grid-tile class="gridStyle" style="margin: 5px; background-color: transparent;">
      
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;">
        Formar profesionistas en Agricultura 
        Sustentable y Protegida competentes y actualizados, con educación académica altamente innovadora, basada en planes y 
        programas de estudios acreditados, desarrollados mediante la educación, investigación y práctica, que conlleven a la 
        extensión de nuevas tecnologías.</p>
    </mat-grid-tile>
    <mat-grid-tile class="gridStyle" style=" background-color: transparent;">
      <img src="/assets/agricultura.jpg" style="height:80%;width: 80%;" class="enlarge-on-hover">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">

    <mat-grid-tile class="gridStyle" style="margin: 20px; background-color: transparent;">
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;"> Satisfacer la demanda social y 
        laboral de docentes especializados en la enseñanza de la lengua inglesa, enfocados en desarrollar las competencias 
        propias del idioma inglés, por medio del proceso de enseñanza aprendizaje considerando la planeación, instrumentación
        didáctica y evaluación continua, brindando una educación de calidad a los estudiantes de la Universidad, para fortalecer
          la educación en la región.</p>
      </mat-grid-tile>
          <mat-grid-tile class="gridStyle" style=" background-color: transparent;">
            <img src="/assets/inglesa.jpg" style="height:80%;width: 80%;" class="enlarge-on-hover">
          </mat-grid-tile>
  </mat-grid-list>