<p>
    <mat-toolbar class="custom-toolbar">
      <span style="margin-left: 10px;">Nosotros</span>
      <span class="example-spacer"></span>
      <button routerLink="/inicio" mat-icon-button >
        <mat-icon>home</mat-icon>
      </button>
      <button  routerLink="/login" mat-icon-button class="example-icon"  >
        <mat-icon>lock</mat-icon>
      </button>
      <button  routerLink="/nosotros" mat-icon-button class="example-icon" >
        <mat-icon>person</mat-icon>
      </button>
      <button  mat-icon-button class="example-icon" >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">
    <mat-grid-tile class="gridStyle" style="margin: 5px; background-color: transparent;">
      
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;">
        Formar profesionistas en Agricultura 
        Sustentable y Protegida competentes y actualizados, con educación académica altamente innovadora, basada en planes y 
        programas de estudios acreditados, desarrollados mediante la educación, investigación y práctica, que conlleven a la 
        extensión de nuevas tecnologías.</p>
    </mat-grid-tile>
    <mat-grid-tile class="gridStyle" style=" background-color: transparent;">
      <img src="/assets/agricultura.jpg" style="height:80%;width: 80%;" class="enlarge-on-hover">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">

    <mat-grid-tile class="gridStyle" style="margin: 20px; background-color: transparent;">
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;"> Satisfacer la demanda social y 
        laboral de docentes especializados en la enseñanza de la lengua inglesa, enfocados en desarrollar las competencias 
        propias del idioma inglés, por medio del proceso de enseñanza aprendizaje considerando la planeación, instrumentación
        didáctica y evaluación continua, brindando una educación de calidad a los estudiantes de la Universidad, para fortalecer
          la educación en la región.</p>
      </mat-grid-tile>
          <mat-grid-tile class="gridStyle" style=" background-color: transparent;">
            <img src="/assets/inglesa.jpg" style="height:80%;width: 80%;" class="enlarge-on-hover">
          </mat-grid-tile>
</mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">
    <mat-grid-tile class="gridStyle" style="margin: 20px; background-color: transparent;">
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;"> Formar especialistas técnicos en Logística 
        área Cadena de Suministros competentes en su campo de conocimiento y reconocidos ante la sociedad que contribuyan al desarrollo 
        económico y empresarial de su región, capaces de aplicar su formación ética y profesional de manera eficiente y con calidad generando 
        valor agregado a las instituciones productivas donde se desempeñen o emprendiendo sus propios negocios.</p>
    </mat-grid-tile> 
    <mat-grid-tile class="gridStyle" style="margin: 20px; background-color: transparent;">
      <p style="color:white; font-size:20px; border-color: green; font-family: Calibri; text-align: justify;">Ser un Programa Educativo 
        comprometido para formar profesionistas de nivel Técnico Superior Universitario en Mantenimiento Área Industrial, a través de 
        competencias para la aplicación de los avances científicos y tecnológicos en el desarrollo de estrategias para la implementación 
        de proyectos de mantenimiento, y así contribuir a la mejora del sector productivo y que contribuyan al desarrollo de la región.</p>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">
    <mat-grid-tile class="gridStyle" style="margin: 20px; background-color: transparent;">
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;"> Formar Técnicos Superiores Universitarios en Procesos
         Industriales área Manufactura con conocimientos, habilidades y aptitudes, cumpliendo con las expectativas de los planes de estudio para
          satisfacer las necesidades del mercado laboral incrementando el nivel de competencia del sector productivo.</p>
    </mat-grid-tile>
    <mat-grid-tile  style="margin: 20px; background-color: transparent;">
      <br>
      <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;"> La carrera de Ingeniería en Desarrollo y Gestión de 
        Software busca formar estudiantes competentes a nivel de Técnico Superior Universitario e Ingeniería desarrollando nuevos conocimientos 
        y habilidades en el uso de las tecnologías que contribuyan a solucionar problemáticas dentro de los sectores educativos, productivos y sociales.</p>
    </mat-grid-tile>
  </mat-grid-list>