<div class="background-container">
  <div class="login-container">
    <div class="login-box">
      <h2>Iniciar sesión</h2>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre de usuario" type="text">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Contraseña" type="password">
        </mat-form-field>

        <div class="button-container">
          <button routerLink="/inicio" mat-raised-button color="primary" class="login-button">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
