
<mat-sidenav-container class="Hamburguesa">
  <mat-sidenav #sidenav mode="over" class="">
      <mat-list role="list" class="lista">
        <mat-list-item routerLink="/login" role="listitem">Cerrar sesion</mat-list-item>
        <mat-list-item routerLink="/menu" role="listitem">Menu</mat-list-item>
        <mat-list-item routerLink="/nosotros" role="listitem">Nosotros</mat-list-item>
        <mat-list-item routerLink="/table" role="listitem">Alumnos</mat-list-item>
        </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>  
  <mat-toolbar class="custom-toolbar">
    <button  mat-icon-button class="example-icon" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span >Inicio</span>
    <span class="hora-actual">{{horaActual}}</span>
  </mat-toolbar>

<mat-grid-list cols="2" rowHeight="2:1" gutterSize="16">
  <mat-grid-tile class="gridStyle" style="margin: 20px; background-color: transparent;">

    <p style="color:white; font-size:20px; font-family: Calibri; text-align: justify;"> 20 de Octubre del 2008, 
      el Subsecretario de Educación Superior, Dr. Rodolfo Tuirán Gutiérrez, firmó el oficio de autorización para 
      la creación de la Universidad Tecnológica Linares, para brindar cobertura a la demanda educativa e industrial
       del sur del Estado, a partir de Septiembre del año 2009, se extendieron los servicios de la Universidad 
       Tecnológica Linares al municipio de Galeana, N.L. en el ejido “El Potosí”, mismos queson ofrecidos en las 
       instalaciones, del CBTa No. 48.</p>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: transparent;">
    <img src="/assets/logo.png" style="height:70%;width: 60%;" class="enlarge-on-hover">
  </mat-grid-tile>
</mat-grid-list>

<br>

<mat-grid-list cols="3" rowHeight="3:2" gutterSize="10">
  <mat-grid-tile class="gridStyle">
    <img src="/assets/fondo1.jpg" style="height:100%;width:100%;" class="enlarge-on-hover">
  </mat-grid-tile>
  <mat-grid-tile class="gridStyle">
    <img src="/assets/fondo2.jpg" style="height:100%;width: 100%;" class="enlarge-on-hover">
  </mat-grid-tile>
  <mat-grid-tile class="gridStyle">
    <img src="/assets/historia3.jpg" style="height:100%;width: 100%;" class="enlarge-on-hover">
  </mat-grid-tile>
</mat-grid-list>

